@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Sigmar+One&display=swap');

body {
  margin: 0;
  background-color: rgb(18, 58, 105);
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Luxurious Roman';
  line-height: 130%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  color: rgb(48, 156, 156);
}

main {
  align-self: center;
  width: 75%;
  max-width: 900px;
  margin: 10 10 auto;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  /*border:5px solid black;*/
  border-radius: 10px;
  opacity: .95;
}

main article {
  margin: 20px;
  width: auto;
  height: min-content;
}

main h1 {
  font-family: 'Sigmar One';
}


header {
  font-family: 'Sigmar One';
  background-color: rgb(165, 10, 118);
  padding: 20px;
  margin-bottom: 30px;
}

nav a {
  color: rgb(218, 214, 214);
  padding: 0 10px;
  text-decoration: none;
}

nav .active {
  color: rgb(48, 156, 156);
}

img {
  width: 100%;
}

img.halfSize {
  width: 49%;
}

.logo {
  font-family: 'Sigmar One';
  font-weight: normal;
  font-size: 39px;
  margin: 0 0 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: white;
  padding: 20px;
  background-color: rgb(48, 156, 156);
  
}

