.header {
    font-family: 'Sigmar One', sans-serif;
    background-color: #a50a76;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5%;

}

.logo {
    font-family: 'Sigmar One', sans-serif;
    align-self: center;
    align-items: center;
    padding-right: 20px;
    font-weight: normal;
    color: #309c9c;
    font-size: 39px;
    padding-top: 10px;
    margin: 0 0 10px;
    flex-direction: row;
}

.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
}

.main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 3px;
    background: white;
}

.main-navigation__title {
    color: white;
}

.main-navigation__title a {
    text-decoration: none;
    color: white;
}

.main-navigation__header-nav {
    display: none;
}

.main-navigation__drawer-nav {
    height: 100%;
}

@media (min-width: 768px) {
    .main-navigation__menu-btn {
        display: none;
    }

    .main-navigation__header-nav {
        display: block;
    }
}