.content {
  flex: fit-content;
  text-align: center;
  align-items: center;
}


.title {
  font-family: 'Sigmar One', sans-serif;
  align-self: center;
  text-align: center;
  padding-right: 20px;
  font-weight: normal;
  color: #ffffff;
  font-size: 36px;
  margin: 0 0 10px;
}